<div class="header-wrapper">
    <header>
        <!-- logo and description -->
        {% if page.layout != "post" %}
        <div class="head-area">
            <h1 class="site-logo">
                <a href="/"><img src="/images/logo/logo.svg" class="logo"/></a>
            </h1>
            <h3 class="site-description">{{ site.description }}</h3>
        </div>
        {% endif %}
        <nav class="site-nav">
            <div class="left-nav">
                <!-- add titles to all buttons -->
                <div class="ui secondary menu inverted">
                    <a class="item" href="/">
                        Главная
                    </a>
                    <a class="item" href="/about.html">
                        О продукте
                    </a>
                    <a class="item" href="/archive.html">
                        Обратная связь
                    </a>
                    <div class="right menu">
                        <div id="head-search" class="ui category search item">
                            <div class="ui transparent icon input">
                                <input placeholder="Найти..." type="text" id="search-input" onkeypress="handleKeyPress()">
                                <i class="search link icon" onclick="handleSubmit()"></i>
                            </div>
                        </div> 

                        <a class="item" href="http://stallman.org/facebook.html">
                            <i class="vk icon"></i>
                        </a>
                         <a class="item" href="https://github.com/abhn">
                            <i class="telegram icon"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="right-nav"></div>
        </nav>
    </header>
</div>
<script type="/assets/js/main.js"></script>