@charset "UTF-8";
.body {
  font-family: helvetica;
}

.contain {
  width: 100%;
  margin: 0 auto;
  padding-right: 0.13%;
  padding-left: 0.13%;
}

.header {
  padding-top: 2.08vw;
  margin-bottom: 1.38vw;
}

.header .nav {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header li {
  text-align: center;
  width: 33.33%;
}

.menu a {
  font-family: Helvetica;
  font-size: 2.5vw;
  color: #636363;
  letter-spacing: 0;
  text-decoration: none;
  padding: 0.69vw;
  padding-bottom: 0.69vw;
  width: 100%;
  display: block;
  border-bottom: 1px solid #eaeaee;
}

.menu a:hover {
  color: #636363;
  text-decoration: none;
}

.menu .active {
  font-weight: bold;
  color: #040404;
  border-bottom: 2px solid #89aacf;
}

.menu .active:hover {
  color: #040404;
}

.banner {
  width: 100%;
  min-height: 11.38vw;
  background-image: url("../img/banner.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 1.38vw;
}

.filter {
  padding-top: 2.08vw;
  padding-bottom: 2.08vw;
  border-top: 1px solid #eaeaee;
  border-bottom: 1px solid #eaeaee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.filter__item {
  width: 100%;
}

.calendar img {
  position: absolute;
  left: 2.77vw;
  top: 2.5vw;
  height: 3.19vw;
  width: 3.19vw;
}

.info__row {
  border-bottom: 1px solid #eaeaee;
}

.info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2.77vw;
  padding-bottom: 1.38vw;
  font-family: Helvetica;
  font-size: 2.77vw;
}

.info__item p {
  margin: 0;
}

.info--completed {
  color: #c4c4c4;
}

.info--status {
  display: none;
  text-align: right;
  margin-left: auto;
}

.info--completed .info--status {
  display: block;
}

.info__item {
  position: relative;
}

.info--people {
  text-align: right;
  width: 22.22vw;
  margin-right: 5.55vw;
}

.info--people::before {
  content: "";
  display: block;
  background-image: url("../img/info--people.png");
  background-size: contain;
  position: absolute;
  width: 3.61vw;
  height: 3.33vw;
  left: 9.72vw;
  top: 0.41vw;
}

.info--status {
  font-family: helvetica;
  font-size: 2.77vw;
  color: rgba(236, 35, 50, 0.7);
  text-transform: uppercase;
  font-weight: bold;
}

.info--date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3.47vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info--completed .info__button {
  display: block;
  width: 3.05vw;
  height: 3.05vw;
  margin-right: 2.08vw;
  background-image: url("../img/info.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.info--active .info__button {
  display: block;
  width: 3.05vw;
  height: 3.05vw;
  margin-right: 2.08vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/opened.png");
  cursor: pointer;
}

.info--active .collapsed {
  display: block;
  width: 3.05vw;
  height: 3.05vw;
  margin-right: 2.08vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/closed.png");
  cursor: pointer;
}

.open__list {
  margin-bottom: 2.08vw;
}

.open__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2.08vw;
  padding-top: 2.08vw;
}

.open__wrapper {
  margin-right: 5.83vw;
  margin-left: 11.38vw;
}

.open__people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.open__people p {
  margin: 0;
  font-size: 2.77vw;
  color: #586da4;
  margin-right: 3.19vw;
  position: relative;
}

.open__people p::before {
  content: "";
  display: block;
  background-image: url("../img/plus-people.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 4.58vw;
  height: 3.33vw;
  position: absolute;
  left: -5.55vw;
  top: 0.55vw;
}

.open__people button {
  font-family: helvetica;
  background: #007aff;
  border-radius: 1.38vw;
  width: 20.69vw;
  height: 4.85vw;
  border: 0;
  font-size: 2.36vw;
  color: #ffffff;
  letter-spacing: 0.5px;
}

.open__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -5.13vw;
}

.open__name h3 {
  margin: 0;
  font-size: 2.5vw;
  font-weight: bold;
  color: #566ba3;
  letter-spacing: 0;
  margin-bottom: 0.69vw;
}

.open__name p {
  margin: 0;
  font-family: Helvetica;
  font-size: 2.22vw;
  font-weight: normal;
  color: #516ba1;
  letter-spacing: 0;
}

.open__item .open__button {
  display: block;
  width: 3.05vw;
  height: 3.05vw;
  margin-right: 2.08vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/opened.png");
  cursor: pointer;
}

.open__item .collapsed {
  display: block;
  width: 3.05vw;
  height: 3.05vw;
  margin-right: 2.08vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/closed.png");
  cursor: pointer;
}

.details {
  background: #fafafa;
  border: 2px dashed #007bff;
  margin-bottom: -0.27vw;
  border-radius: 0.69vw;
  padding: 2.91vw;
  position: relative;
}

.open__wrapper {
  position: relative;
}

.open__wrapper .collapsed::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px dashed #007aff;
  position: absolute;
  bottom: 0px;
  right: 0;
}

.details ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.details li {
  width: 50%;
  font-family: Helvetica;
  font-size: 3.61vw;
  color: #586da4;
  margin-bottom: 2.08vw;
}

.details .details__time {
  color: #323232;
}

.details .details__name {
  color: #323232;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.details .details__name p {
  margin: 0;
  margin-right: auto;
  text-align: center;
  position: relative;
}

.details .details__name p::after {
  content: "(тренер)";
  display: block;
  font-size: 1.66vw;
  line-height: 2.22vw;
  color: #c4c4c4;
  position: absolute;
  left: 50%;
  bottom: -1.38vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.details .details__name span {
  display: block;
  font-size: 1.66vw;
  line-height: 2.22vw;
  color: #c4c4c4;
}

.details .details__price {
  font-size: 3.88vw;
  color: #ec2332;
}

.details .details__price span {
  font-size: 2.77vw;
}

.details .details__abonement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.details .details__abonement p {
  margin: 0;
  margin-right: auto;
  text-align: center;
  position: relative;
}

.details .details__abonement p::after {
  content: "(действуют)";
  display: block;
  font-size: 1.66vw;
  line-height: 2.22vw;
  color: #c4c4c4;
  position: absolute;
  left: 50%;
  bottom: -1.38vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.details ul {
  margin-bottom: 6.25vw;
}

.details button {
  margin-left: 61.38vw;
  background: #586da4;
  border-radius: 1.38vw;
  width: 14.44vw;
  height: 3.88vw;
  font-family: Helvetica;
  font-size: 1.80vw;
  color: #ffffff;
  letter-spacing: 0.5px;
  border: none;
}

.details__photo p {
  cursor: pointer;
  margin: 0;
  position: relative;
}

.details__photo--close {
  display: none;
}

.details__photo.current {
  position: absolute;
  display: block;
  padding: 0;
  margin: 0;
  padding: 2.77vw;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  left: 0;
  top: 0;
  z-index: 1;
}

.details__photo.current p {
  text-align: left;
  display: inline;
  margin-left: 5.55vw;
}

.details__photo.current .details__photo--close {
  display: block;
  margin-top: auto;
  position: absolute;
  bottom: 2.91vw;
  right: 3.19vw;
}

.details__abonement p {
  cursor: pointer;
  position: relative;
}

.details__abonement--close {
  display: none;
}

.details__abonement.current {
  position: absolute;
  display: block;
  padding: 0;
  margin: 0;
  padding: 2.77vw;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  left: 0;
  top: 0;
  z-index: 1;
}

.details__abonement.current p {
  text-align: left;
  display: inline;
  margin-left: 5.55vw;
}

.details__abonement.current .details__abonement--close {
  display: block;
  margin-top: auto;
  position: absolute;
  bottom: 2.91vw;
  right: 3.19vw;
}

.details__description p {
  margin: 0;
  cursor: pointer;
  position: relative;
}

.details__description--close {
  display: none;
}

.details__description.current {
  position: absolute;
  display: block;
  padding: 0;
  margin: 0;
  padding: 2.77vw;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  left: 0;
  top: 0;
  z-index: 1;
}

.details__description.current p {
  text-align: left;
  display: inline;
  margin-left: 5.55vw;
}

.details__description.current .details__description--close {
  display: block;
  margin-top: auto;
  position: absolute;
  bottom: 2.91vw;
  right: 3.19vw;
}

.details ul li {
  padding-left: 5.55vw;
  position: relative;
}

.details__time::before {
  content: "";
  display: block;
  background-image: url(../img/details-time.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3.05vw;
  height: 3.33vw;
}

.details__name::before {
  content: "";
  display: block;
  background-image: url(../img/details-name.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3.19vw;
  height: 4.16vw;
}

.details__price::before {
  content: "";
  display: block;
  background-image: url(../img/details-price.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3.61vw;
  height: 3.33vw;
}

.details__photo p::before {
  content: "";
  display: block;
  background-image: url(../img/details-photo.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -5.55vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3.88vw;
  height: 3.33vw;
}

.details__abonement p::before {
  content: "";
  display: block;
  background-image: url(../img/details-abonement.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -5.55vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3.47vw;
  height: 3.33vw;
}

.details__description p::before {
  content: "";
  display: block;
  background-image: url(../img/details-description.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -5vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3.47vw;
  height: 3.33vw;
}

@media (min-width: 720px) {
  .body {
    font-family: helvetica;
  }
  .contain {
    width: 720px;
    margin: 0 auto;
    padding-right: 1px;
    padding-left: 1px;
  }
  .header {
    padding-top: 15px;
    margin-bottom: 10px;
  }
  .header .nav {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header li {
    text-align: center;
    width: 33.3%;
  }
  .menu a {
    font-family: Helvetica;
    font-size: 18px;
    color: #636363;
    letter-spacing: 0;
    text-decoration: none;
    padding: 5px;
    padding-bottom: 5px;
    width: 100%;
    display: block;
    border-bottom: 1px solid #eaeaee;
  }
  .menu a:hover {
    color: #636363;
    text-decoration: none;
  }
  .menu .active {
    font-weight: bold;
    color: #040404;
    border-bottom: 2px solid #89aacf;
  }
  .menu .active:hover {
    color: #040404;
  }
  .banner {
    width: 100%;
    min-height: 82px;
    background-image: url("../img/banner.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 10px;
  }
  .filter {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #eaeaee;
    border-bottom: 1px solid #eaeaee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  .filter__item {
    width: 100%;
  }
  .filter__item select {
    width: 160px;
    height: 30px;
    font-size: 14px;
    background: #ffffff;
    border: 1px solid #979797;
    border-radius: 5px;
    display: block;
    padding-left: 5px;
  }
  .filter--address select {
    margin-left: auto;
    margin-right: 8px;
  }
  .filter--trener select {
    margin-left: auto;
    margin-right: auto;
  }
  .filter--name select {
    margin-right: auto;
    margin-left: 8px;
  }
  .filter__item select option {
    width: 160px;
    font-family: Helvetica;
    font-size: 14px;
    color: #323232;
    display: block;
  }
  .calendar img {
    position: absolute;
    left: 20px;
    top: 18px;
    height: 23px;
    width: 23px;
  }
  .info__row {
    border-bottom: 1px solid #eaeaee;
  }
  .info__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: Helvetica;
    font-size: 20px;
  }
  .info__item p {
    margin: 0;
  }
  .info--completed {
    color: #c4c4c4;
  }
  .info--status {
    display: none;
    text-align: right;
    margin-left: auto;
  }
  .info--completed .info--status {
    display: block;
  }
  .info__item {
    position: relative;
  }
  .info--people {
    text-align: right;
    width: 160px;
    margin-right: 40px;
  }
  .info--people::before {
    content: "";
    display: block;
    background-image: url("../img/info--people.png");
    background-size: contain;
    position: absolute;
    width: 26px;
    height: 24px;
    left: 70px;
    top: 3px;
  }
  .info--status {
    font-family: helvetica;
    font-size: 20px;
    color: rgba(236, 35, 50, 0.7);
    text-transform: uppercase;
    font-weight: bold;
  }
  .info--date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info--completed .info__button {
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 15px;
    background-image: url("../img/info.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .info--active .info__button {
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/opened.png");
    cursor: pointer;
  }
  .info--active .collapsed {
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/closed.png");
    cursor: pointer;
  }
  .open__list {
    margin-bottom: 15px;
  }
  .open__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .open__wrapper {
    margin-right: 42px;
    margin-left: 82px;
  }
  .open__people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .open__people p {
    margin: 0;
    font-size: 20px;
    color: #586da4;
    margin-right: 23px;
    position: relative;
  }
  .open__people p::before {
    content: "";
    display: block;
    background-image: url("../img/plus-people.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 33px;
    height: 24px;
    position: absolute;
    left: -40px;
    top: 4px;
  }
  .open__people button {
    font-family: helvetica;
    background: #007aff;
    border-radius: 10px;
    width: 149px;
    height: 35px;
    border: 0;
    font-size: 17px;
    color: #ffffff;
    letter-spacing: 0.5px;
  }
  .open__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -37px;
  }
  .open__name h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #566ba3;
    letter-spacing: 0;
    margin-bottom: 5px;
  }
  .open__name p {
    margin: 0;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    color: #516ba1;
    letter-spacing: 0;
  }
  .open__item .open__button {
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/opened.png");
    cursor: pointer;
  }
  .open__item .collapsed {
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/closed.png");
    cursor: pointer;
  }
  .details {
    background: #fafafa;
    border: 2px dashed #007bff;
    margin-bottom: -2px;
    border-radius: 5px;
    padding: 21px;
    position: relative;
  }
  .open__wrapper {
    position: relative;
  }
  .open__wrapper .collapsed::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 2px dashed #007aff;
    position: absolute;
    bottom: 0px;
    right: 0;
  }
  .details ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .details li {
    width: 50%;
    font-family: Helvetica;
    font-size: 26px;
    color: #586da4;
    margin-bottom: 15px;
  }
  .details .details__time {
    color: #323232;
  }
  .details .details__name {
    color: #323232;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .details .details__name p {
    margin: 0;
    margin-right: auto;
    text-align: center;
    position: relative;
  }
  .details .details__name p::after {
    content: "(тренер)";
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: #c4c4c4;
    position: absolute;
    left: 50%;
    bottom: -10px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .details .details__name span {
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: #c4c4c4;
  }
  .details .details__price {
    font-size: 28px;
    color: #ec2332;
  }
  .details .details__price span {
    font-size: 20px;
  }
  .details .details__abonement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .details .details__abonement p {
    margin: 0;
    margin-right: auto;
    text-align: center;
    position: relative;
  }
  .details .details__abonement p::after {
    content: "(действуют)";
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: #c4c4c4;
    position: absolute;
    left: 50%;
    bottom: -10px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .details ul {
    margin-bottom: 45px;
  }
  .details button {
    margin-left: 442px;
    background: #586da4;
    border-radius: 10px;
    width: 104px;
    height: 28px;
    font-family: Helvetica;
    font-size: 13px;
    color: #ffffff;
    letter-spacing: 0.5px;
    border: none;
  }
  .details__photo p {
    cursor: pointer;
    margin: 0;
    position: relative;
  }
  .details__photo--close {
    display: none;
  }
  .details__photo.current {
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .details__photo.current p {
    text-align: left;
    display: inline;
    margin-left: 40px;
  }
  .details__photo.current .details__photo--close {
    display: block;
    margin-top: auto;
    position: absolute;
    bottom: 21px;
    right: 23px;
  }
  .details__abonement p {
    cursor: pointer;
    margin-left: 40px;
  }
  .details__abonement--close {
    display: none;
  }
  .details__abonement.current {
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .details__abonement.current p {
    text-align: left;
    display: inline;
    margin-left: 40px;
  }
  .details__abonement.current .details__abonement--close {
    display: block;
    margin-top: auto;
    position: absolute;
    bottom: 21px;
    right: 23px;
  }
  .details__description p {
    margin: 0;
    cursor: pointer;
    position: relative;
  }
  .details__description--close {
    display: none;
  }
  .details__description.current {
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    left: 0;
    top: 0;
  }
  .details__description.current p {
    text-align: left;
    display: inline;
    margin-left: 40px;
  }
  .details__description.current .details__description--close {
    display: block;
    margin-top: auto;
    position: absolute;
    bottom: 21px;
    right: 23px;
  }
  .details ul li {
    padding-left: 40px;
    position: relative;
  }
  .details__time::before {
    content: "";
    display: block;
    background-image: url(../img/details-time.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 22px;
    height: 24px;
  }
  .details__name::before {
    content: "";
    display: block;
    background-image: url(../img/details-name.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 23px;
    height: 30px;
  }
  .details__price::before {
    content: "";
    display: block;
    background-image: url(../img/details-price.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 24px;
  }
  .details__photo p::before {
    content: "";
    display: block;
    background-image: url(../img/details-photo.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -40px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 28px;
    height: 24px;
  }
  .details__abonement p::before {
    content: "";
    display: block;
    background-image: url(../img/details-abonement.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -40px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 25px;
    height: 24px;
  }
  .details__description p::before {
    content: "";
    display: block;
    background-image: url(../img/details-description.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -36px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 25px;
    height: 24px;
  }
}
