.fixedbut {

    bottom: 20px;
    right: 20px;
    display: block;
    background: #7bc2de;
    color: #d61f1f;
    text-decoration: none;
    padding: 15px 3px;
    font-size: 25px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 15px;
    border: #e2fffb;
    border-style: groove;
        font-family: 'Roboto',Arial,sans-serif;
}

.fixedbut:hover {
    background: #2323;
}

.gobat {	
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
    background:#7bc2de;
    color: #d61f1f;
    text-decoration: none;
    padding: 6px 23px;
    font-size: 25px;
    margin-right: 45%;
        height: 50px;
    padding-top: 20px;
    font-size: auto;
     border: #e2fffb;
     border-style: groove;
      border-radius: 15px;
          font-family: 'Roboto',Arial,sans-serif;
     
}