---
layout: default
---

<div class="post-container">
    <center>
        <span class="date">
           <!-- {{ page.date | date_to_string }} -->
            {% if page.category %} 
                in <i>{{ page.categories }}</i>
            {% endif %} 
        </span>
        <h1 class="post-title">{{ page.title }}</h1>
    </center>
    <div class="ui divider"></div>
    {{ content }}
    {% include progress.html %}
    <div class="aboutcard">
        <p class="abtme"><strong>Numberlocker это простое и эффективное устройство, которое позволит Вам повысить приватность, привлекательность, информативность вашего авто на стоянке.</strong> Быстрая установка и демонтаж, возможность заказа с нанесением изображения, надписей, рекламных данных, имитации гос номеров других стран, защита от штрафов автоматических систем паркон, анонимизация мест стоянки  - вот тот ничтожный список преимуществ который вы получаете вместе с NUMBERLOCKER. </p>
    </div>

    <div class="ui horizontal divider">
        Задайте вопросы или оставьте коментарии
   </div>
   
</div>

    {% include disqus.html %}